@{
    ViewBag.Title = "About";
}


<div class="container p-b-30">
	<h2>@ViewBag.Title.</h2>
	<h3>
		WE BELIEVE IN KEEPING THINGS SIMPLE: PROGRESSIVE SILHOUETTES AND WARDROBE STAPLES SOLD AT A FAIR PRICE.
	</h3>
	<p>
		PROGRESSIVE DESIGNS
		Our team of industry veterans is constantly designing new silhouettes and experimenting with fabrics in our downtown Los Angeles studio to stay on the forefront of fashion. Style is always evolving, so are we.
	</p>
	<img src="https://cdn.shopify.com/s/files/1/1300/6871/files/2_1_900x.jpg?v=1613796074" />
	<br />
	<br />
	<br />
	<h3>
		FAIR PRICES
	</h3>
	<p>
		Traditional retailers mark up their products 5-8x. Our business model lets us sell the same quality directly to you for a fraction of the price.
	</p>
	<img src="https://cdn.shopify.com/s/files/1/1300/6871/files/3_900x.jpg?v=1613796074" />
</div>

